# Notion
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Excel
EXCEL_FILE_PATH=./data/plataforma.xlsx
EXCEL_SHEET_NAME=Endpoints

# Server
PORT=3000
